@model TeddyShopWebApplication.Models.Inventario

<link rel="stylesheet" href="~/css/roles.css" />
<h2 class="text-center">Detalles del Inventario</h2>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center" style="background-color: #957698; color: white;">
            <h4>Información del Inventario</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.StockMinimo)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.StockMinimo)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PrecioVenta)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.PrecioVenta)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PrecioCompra)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.PrecioCompra)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Stock)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Stock)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.StockMaximo)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.StockMaximo)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Producto_IdProducto)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Producto_IdProducto)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.IdDevolucionNavigation)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IdDevolucionNavigation.IdDevolucion)</dd>
            </dl>
        </div>
        <div class="card-footer text-center">
            <a asp-action="Edit" asp-route-id="@Model?.IdInventario" class="btn btn-warning btn-lg">
                <i class="fas fa-edit"></i> Editar
            </a>
            <a asp-action="Index" class="btn btn-secondary btn-lg">
                <i class="fas fa-arrow-left"></i> Volver a la Lista
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
}
