@model IEnumerable<TeddyShopWebApplication.Models.Detalle_Pedido>

<link rel="stylesheet" href="~/css/roles.css" />
<h2 class="text-center">Detalles del Pedido</h2>

<p class="text-center">
    <a asp-action="Create" class="btn-create"><i class="fas fa-plus"></i> Crear Nuevo Detalle</a>
</p>

<table id="detallesPedidoTable" class="table table-striped table-hover text-center">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PrecioDetallePedido)</th>
            <th>@Html.DisplayNameFor(model => model.CantidadDetallePedido)</th>
            <th>@Html.DisplayNameFor(model => model.Pedido_NumPedidoNavigation.NumPedido)</th>
            <th>@Html.DisplayNameFor(model => model.Producto_IdProductoNavigation.IdProducto)</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.PrecioDetallePedido)</td>
                <td>@Html.DisplayFor(modelItem => item.CantidadDetallePedido)</td>
                <td>@Html.DisplayFor(modelItem => item.Pedido_NumPedidoNavigation.NumPedido)</td>
                <td>@Html.DisplayFor(modelItem => item.Producto_IdProductoNavigation.IdProducto)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NumDetalle" class="btn btn-edit">
                        <i class="fas fa-edit"></i> Editar
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.NumDetalle" class="btn btn-details">
                        <i class="fas fa-info-circle"></i> Detalles
                    </a> |
                    <a href="javascript:void(0);" class="btn btn-delete" onclick="confirmDelete('@item.NumDetalle')">
                        <i class="fas fa-trash-alt"></i> Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function confirmDelete(numDetalle) {
            Swal.fire({
                title: '¿Estás seguro?',
                text: "¡No podrás revertir esto!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, eliminarlo',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirigir a la acción de eliminación
                    window.location.href = '@Url.Action("Delete", "Detalle_Pedido")/' + numDetalle;
                }
            });
        }
    </script>
}
