@model IEnumerable<TeddyShop.Models.Detalle_Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrecioDetalleFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadDetalleFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factura_IdFacturaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventario_IdInventarioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto_IdProductoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioDetalleFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadDetalleFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Factura_IdFacturaNavigation.IdFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventario_IdInventarioNavigation.IdInventario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto_IdProductoNavigation.IdProducto)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
