@model TeddyShopWebApplication.Models.Catalogo

<link rel="stylesheet" href="~/css/roles.css" />
<div class="container">
    <h2 class="text-center">Eliminar Catálogo</h2>
    <h3 class="text-center">¿Está seguro de que desea eliminar esto?</h3>

    <div class="card shadow-lg">
        <div class="card-header text-center" style="background-color: #957698; color: white;">
            <h4>Detalles del Catálogo</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DisponibilidadCatalogo)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DisponibilidadCatalogo)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.EstiloCatalogo)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.EstiloCatalogo)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Compañia_NITNavigation)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Compañia_NITNavigation.NIT)</dd>
            </dl>
        </div>
        <div class="card-footer text-center">
            <form asp-action="Delete" class="d-inline">
                <input type="hidden" asp-for="IdCatalogo" />
                <button type="submit" class="btn btn-danger btn-lg">
                    <i class="fas fa-trash-alt"></i> Eliminar
                </button>
            </form>
            <a asp-action="Index" class="btn btn-secondary btn-lg">
                <i class="fas fa-arrow-left"></i> Volver a la Lista
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
}
