@model IEnumerable<TeddyShop.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNaciminetoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compañia_NITNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNaciminetoEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compañia_NITNavigation.NIT)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DniEmpleado">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DniEmpleado">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DniEmpleado">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
