@model IEnumerable<TeddyShopWebApplication.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TamañoOso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreComprador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroComprador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreAgendador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroAgendador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barrio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoAgendador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoComprador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente_DniClienteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TamañoOso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreComprador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroComprador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreAgendador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroAgendador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barrio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoAgendador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoComprador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente_DniClienteNavigation.DniCliente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumPedido">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NumPedido">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NumPedido">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
