@model TeddyShopWebApplication.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstiloProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstiloProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmCabezaColaProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmCabezaColaProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisponibilidadProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisponibilidadProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmColaPataProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmColaPataProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TamañoProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TamañoProducto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProducto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
