@model TeddyShop.Models.Detalle_Factura

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Detalle_Factura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioDetalleFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioDetalleFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDetalleFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadDetalleFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Factura_IdFacturaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Factura_IdFacturaNavigation.IdFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inventario_IdInventarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inventario_IdInventarioNavigation.IdInventario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto_IdProductoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto_IdProductoNavigation.IdProducto)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
