@model TeddyShopWebApplication.Models.Factura

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion_Factura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion_Factura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraCreacion_Factura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraCreacion_Factura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente_DniClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente_DniClienteNavigation.DniCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pedido_NumPedidoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pedido_NumPedidoNavigation.NumPedido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdFactura">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
