@model IEnumerable<TeddyShop.Models.Movimiento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantiidadVendida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventario_IdInventarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdMovimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantiidadVendida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventario_IdInventarioNavigation.IdInventario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Inventario_IdInventario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Inventario_IdInventario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Inventario_IdInventario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
